<!-- <div style="width: 60%; left: 0px;" *ngIf="upcomingDaysForecastInfo.length > 0">
    <table style="width: 100%; text-align: center">
        <tbody>
                <tr *ngFor="let forecast of upcomingDaysForecastInfo">
                    <td>{{forecast.time | localtimetoday}}</td>
                    <td><img src="{{forecast.icon}}"></td>
                    <td>{{forecast.maxTemp}}</td>
                    <td>{{forecast.minTemp}}</td>
                </tr>
        </tbody>
    </table>
</div> -->
<!-- <div style="display: flex; flex-wrap: nowrap; margin-left : 10px ;height: 200px;">
    <div style="width: 65%;  justify-content: space-between;">
        <div class="row" *ngFor="let forecast of upcomingDaysForecastInfo">
            <div class="col">
                {{forecast.time | localtimetoday}}
            </div>
            <div class="col">
                <img src="{{forecast.icon}}">
            </div>
            <div class="col">
                {{forecast.maxTemp}}
            </div>
            <div class="col">
                {{forecast.minTemp}}
            </div>
        </div>
    </div>
    <div class="vr" style=" height: 200px; width: 2px; display: inline-block;"></div>
    <div style=" margin-left: 50px;">
        <app-astro-weather-info></app-astro-weather-info>
    </div>
</div> -->
<!-- <div class = "upcoming-forecast">
    <div style="margin-top: 0px;">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.time | localtimetoday}}</p>
        </div>
    </div>
    <div>
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p> <img  src="{{forecast.icon}}" class="image"></p>
        </div>
    </div>
    <div>
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.maxTemp}}</p>
        </div>
    </div>
    <div>
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container2"> {{forecast.minTemp}}</p>
        </div>
    </div>
    <div class="vr"></div>
    <div id = "astro">
        <app-astro-weather-info></app-astro-weather-info>
    </div>
</div> -->

<div class = "upcoming-forecast">
    <div class = "division1">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.time | localtimetoday}}</p>
        </div>
    </div>
    <div class = "division2">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p> <img  src="{{forecast.icon}}" class="image"></p>
        </div>
    </div>
    <div class = "division3">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.maxTemp | number: '1.0-0'}}</p>
        </div>
    </div>
    <div class = "division4"> 
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1" id="min"> {{forecast.minTemp | number: '1.0-0'}}</p>
        </div>
    </div>
    <div class="vr"></div>
    <div id = "astro">
        <app-astro-weather-info></app-astro-weather-info>
    </div>
</div>

