<div class = "upcoming-forecast">
    <div class = "division1">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.time | localtimetoday}}</p>
        </div>
    </div>
    <div class = "division2">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p> <img  src="{{forecast.icon}}" class="image"></p>
        </div>
    </div>
    <div class = "division3">
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1">{{forecast.maxTemp | number: '1.0-0'}}</p>
        </div>
    </div>
    <div class = "division4"> 
        <div *ngFor="let forecast of upcomingDaysForecastInfo">
            <p class = "container1" id="min"> {{forecast.minTemp | number: '1.0-0'}}</p>
        </div>
    </div>
    <div class="vr"></div>
    <div id = "astro">
        <app-astro-weather-info></app-astro-weather-info>
    </div>
</div>

